# macOS
.DS_Store

# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Conda
.env
.venv
*.conda

# Raw datasets
data/raw/

# Processed datasets
data/processed/

# Results
results/

# Figures
figures/*.png
figures/*.pdf
figures/*.svg